<!-- src/app/app.component.html -->
<!-- src/app/app.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand fs-4" href="#">Employee Management</a>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">Create</a>
        </li>
      </ul>
    </div> -->
